In [4]:
import geopandas as gpd
import argparse
import os

import ast

In [1]:
input = "/Users/jnimoca/Jose_BI/data/geojson_to_csv/input/240730_annotations.geojson"

In [5]:
gdf = gpd.read_file(input)

In [6]:
gdf.head()

,id,objectType,name,classification,geometry
0,361e4ccc-f39e-4659-8bf2-551a577b432a,annotation,1.0,None,"POLYGON ((3862 417, 3862 419, 3859 419, 3859 4..."
1,8843f25d-0021-40ac-a15f-1447445acecc,annotation,2.0,None,"POLYGON ((5396 540, 5396 542, 5394 542, 5394 5..."
2,6fad4a92-4390-43c3-9d29-90f19ff877b1,annotation,3.0,None,"POLYGON ((6915 600, 6915 601, 6913 601, 6913 6..."
3,817a827d-6af3-4f6b-836d-fc523e0c1733,annotation,4.0,None,"POLYGON ((4064 689, 4064 691, 4063 691, 4063 6..."
4,76fbdf49-d526-44fb-81e3-0ae2947b16d6,annotation,7.0,None,"POLYGON ((3999 754, 3999 756, 3996 756, 3996 7..."

In [7]:
gdf.shape

(33931, 5)

In [10]:
gdf = gdf[gdf['classification'].notnull()]

In [11]:
gdf.head()

,id,objectType,name,classification,geometry
12,ca3261f2-6b8b-4ab8-9203-173f6a333c15,annotation,12.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4067 768, 4067 769, 4064 769, 4064 7..."
20,d0fb3e9b-6e8d-4720-a87e-349c18747da9,annotation,19.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4406 773, 4406 774, 4401 774, 4401 7..."
56,72be40cf-2442-491d-8d6f-80cf55a57ccb,annotation,50.0,"{ ""name"": ""Vimentin-"", ""color"": [ 24, 227, 212...","POLYGON ((3985 811, 3985 814, 3984 814, 3984 8..."
58,20946cef-2268-464b-bea1-2574e0eb9750,annotation,45.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((3739 807, 3739 808, 3734 808, 3734 8..."
63,b20dc2a0-8a5c-4782-a8e8-0bd00bca41dd,annotation,23.0,"{ ""name"": ""TIM3-"", ""color"": [ 173, 232, 64 ] }","POLYGON ((4179 784, 4179 785, 4172 785, 4172 7..."

In [13]:
gdf['cell_label'] = gdf['classification'].apply(lambda x: ast.literal_eval(x).get('name'))

In [14]:
gdf.head()

,id,objectType,name,classification,geometry,Cell_Label
12,ca3261f2-6b8b-4ab8-9203-173f6a333c15,annotation,12.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4067 768, 4067 769, 4064 769, 4064 7...",COL1A1-
20,d0fb3e9b-6e8d-4720-a87e-349c18747da9,annotation,19.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4406 773, 4406 774, 4401 774, 4401 7...",COL1A1-
56,72be40cf-2442-491d-8d6f-80cf55a57ccb,annotation,50.0,"{ ""name"": ""Vimentin-"", ""color"": [ 24, 227, 212...","POLYGON ((3985 811, 3985 814, 3984 814, 3984 8...",Vimentin-
58,20946cef-2268-464b-bea1-2574e0eb9750,annotation,45.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((3739 807, 3739 808, 3734 808, 3734 8...",COL1A1-
63,b20dc2a0-8a5c-4782-a8e8-0bd00bca41dd,annotation,23.0,"{ ""name"": ""TIM3-"", ""color"": [ 173, 232, 64 ] }","POLYGON ((4179 784, 4179 785, 4172 785, 4172 7...",TIM3-

In [15]:
gdf['CellID'] = gdf['name']

In [16]:
gdf.head()

,id,objectType,name,classification,geometry,Cell_Label,CellID
12,ca3261f2-6b8b-4ab8-9203-173f6a333c15,annotation,12.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4067 768, 4067 769, 4064 769, 4064 7...",COL1A1-,12.0
20,d0fb3e9b-6e8d-4720-a87e-349c18747da9,annotation,19.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((4406 773, 4406 774, 4401 774, 4401 7...",COL1A1-,19.0
56,72be40cf-2442-491d-8d6f-80cf55a57ccb,annotation,50.0,"{ ""name"": ""Vimentin-"", ""color"": [ 24, 227, 212...","POLYGON ((3985 811, 3985 814, 3984 814, 3984 8...",Vimentin-,50.0
58,20946cef-2268-464b-bea1-2574e0eb9750,annotation,45.0,"{ ""name"": ""COL1A1-"", ""color"": [ 5, 238, 19 ] }","POLYGON ((3739 807, 3739 808, 3734 808, 3734 8...",COL1A1-,45.0
63,b20dc2a0-8a5c-4782-a8e8-0bd00bca41dd,annotation,23.0,"{ ""name"": ""TIM3-"", ""color"": [ 173, 232, 64 ] }","POLYGON ((4179 784, 4179 785, 4172 785, 4172 7...",TIM3-,23.0

In [17]:
gdf.drop(columns=['id','objectType','geometry', 'name', 'classification'], inplace=True)

In [18]:
gdf.head()

   Cell_Label CellID
12    COL1A1-   12.0
20    COL1A1-   19.0
56  Vimentin-   50.0
58    COL1A1-   45.0
63      TIM3-   23.0

In [20]:
path_to_output = "/Users/jnimoca/Jose_BI/data/geojson_to_csv/output/240730_annotations.csv"
#create folder if it does not exist
os.makedirs(os.path.dirname(path_to_output), exist_ok=True)

gdf.to_csv("/Users/jnimoca/Jose_BI/data/geojson_to_csv/output/240730_annotations.csv", index=False)

In [2]:
def process_geodataframe(input_path):
    gdf = gpd.read_file(input_path)
    # remove cells not annotated
    gdf = gdf[gdf['classification'].notnull()]
    # extract annotation to new column
    gdf['cell_label'] = gdf['classification'].apply(lambda x: ast.literal_eval(x).get('name'))
    # clean up
    gdf['CellID'] = gdf['name']
    gdf.drop(columns=['id','objectType','geometry', 'name', 'classification'], inplace=True)
    return gdf

def save_csv(gdf, output_path):
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    gdf.to_csv(output_path, index=False)